body {
	background-position: 50% 0%;
	background-size: 55%;
}

header {
	font-family: roboto-slab, serif;
	font-size: 3.5em;
	text-align: center;
	font-weight: bold;
	text-transform: lowercase;
	text-decoration: underline;
	color: #606e5a;
}

* {
	box-sizing: border-box;
	font-family: quicksand, sans-serif;
	margin: 20px;
}

.pwrapper {
	justify-content: center;
	display: flex;
}

.intro {
	font-size: 1.25em;
	line-height: 0.5;
	background-color: #6d7218;
	padding: 0.5em 3em 1.5em;
	border-radius: 20px;
	color: #fff;
}

img {
	max-width: 100%;
}
body {
	margin: 20px;
}
ul {
	font-size: 1em;
}

.button {
	position: relative;
	align-items: center;
	text-align: center;
	padding: 10px;
	display: inline-block;
	justify-content: center;
}

.home-paragraph {
	font-size: 2em;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
}

.soundtile {
	font-size: 7em;
	margin: auto;
	text-align: center;
	padding: 0 0.5em;
	filter: drop-shadow(0px 10px 6px #707070);
}

.tab-content {
	text-align: center;
}

.nav-tabs,
.nav-tabs:hover {
	border-bottom: none !important;
	font-weight: 600;
	letter-spacing: 4.5px;
	font-size: 2.5em;
}

.nav-tabs .nav-link {
	font-family: quicksand, sans-serif;
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: 2.5px;
	padding: 1em;
	border-radius: 15px;
	border: none !important;
}

.nav-tabs .nav-item:nth-child(1) .nav-link {
	color: #6d7218;
}

.nav-tabs .nav-item:nth-child(2) .nav-link {
	color: #f89a01;
}

.nav-tabs .nav-item:nth-child(3) .nav-link {
	color: #d96d08;
}

.nav-tabs .nav-item:nth-child(4) .nav-link {
	color: #0275be;
}

.nav-tabs .nav-link:hover {
	display: inline-block;
	letter-spacing: 2.5px;
}

.nav-link.active {
	text-decoration: 4px underline dashed;
}
.nav-tabs,
.nav-item.show,
.nav-link,
.nav-tabs,
.nav-link.active {
	background-color: transparent !important;
}

footer {
	color: #606e5a;
	border-top: 2px solid #606e5a;
}
@media screen and (max-width: 600px) {
	.intro {
		padding-left: 1em;
		padding-right: 1em;
		font-size: 1.1em;
	}

	header {
		font-size: 1.8em;
	}
	.nav-tabs,
	.nav-tabs:hover {
		font-size: 0.8em;
		text-decoration: none !important;
	}
}

@media screen and (max-width: 960px) {
	.nav-tabs,
	.nav-tabs:hover {
		font-size: 1.3em;
	}
	header {
		font-size: 2em;
	}

	.soundtile {
		text-align: center;
		margin: auto;
		padding: 0;
	}

	.tab-content {
		margin: auto;
		align-items: center !important;
	}

	footer {
		font-size: 0.8em;
	}

	.intro {
		line-height: 1;
		padding-top: 1.5em;
	}
}
